<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLIoTEDGE LLM API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="/style.css" />
</head>
<body>

    <h1>CLIoTEDGE LLM API</h1>

    <div class="container">
        <div class="chatBot">
            <header>
                <h2>Asistente</h2>
            </header>
            <ul class="chatbox" id="chatContainer">
                <li class="chat-incoming chat">
                    <p>¡Hola! ¿Cómo puedo asistirte hoy?</p>
                </li>
            </ul>
            <div class="chat-input">
                <textarea rows="0" cols="50" placeholder="Envía un mensaje..."></textarea>
                <button id="sendBTN">Enviar</button>
                <button id="resetChatButton">Limpiar</button>
            </div>
        </div>
    </div>

    <!-- Inyectar variable para uso en chatbot.js -->
    <script>
        window.API_URL = "<%= apiUrl %>";
        window.API_CONTEXT = "<%= context %>" || "";
    </script>

    <script src="/chatbot.js"></script>
</body>
</html>
